<footer class="container px-3 py-3 my-4">
    <div class="row">
        <div class="col-12 col-lg-6 mb-0">
            <p class="text-center text-lg-start pt-2">© 2023 Mobilmacher - Die grüne Mobilität</p>
        </div>
        <ul class="nav col-12 col-lg-6 justify-content-center justify-content-lg-end mx-auto">
            <li class="nav-item"><a href="{{ path('homepage') }}"
                                    class="nav-link px-2 text-body-secondary">{{ 'Home' | trans }}</a></li>
            <li class="nav-item"><a href="{{ path('imprinttext') }}"
                                    class="nav-link px-2 text-body-secondary">{{ 'Imprint' | trans }}</a></li>
            <li class="nav-item"><a href="{{ path('privacy') }}"
                                    class="nav-link px-2 text-body-secondary">{{ 'Privacy' | trans }}</a></li>
            <li class="nav-item"><a href="{{ path('contact') }}"
                                    class="nav-link px-2 text-body-secondary">{{ 'Footer.contact' |trans }}</a></li>
        </ul>
    </div>
</footer>
