{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if startDate %}
            <h3 class="text-secondary">{{ 'Form.search.timePeriod' | trans }}: {{ startDate }} - {{ endDate }}</h3>
        {% endif %}
        <table class="table table-striped" id="carTable">
            {% if cars is not empty %}
            <thead>
            <tr>
                <th data-sortable="false"></th>
                <th>{{ 'Name' | trans }}</th>
                <th>{{ 'Category' | trans }}</th>
                <th>{{ 'Seats' | trans }}</th>
                <th>{{ 'Km.inclusive' | trans }}</th>
                <th>{{ 'Price.per.day' | trans }}</th>
                <th data-sortable="false">Details</th>
            </tr>
            </thead>
            <tbody>
            {% for car in cars %}
                <tr>
                    <td>
                        <div class="text-center">
                            {% if (car.thumbnailURL is empty) %}
                                <a href="{{ path('show_details', {car: car.id}) }}">
                                    <img src="{{ asset("/images/keinBild.png") }}" alt="asdf" class="mx-auto d-block">
                                </a>
                            {% else %}
                                <a href="{{ path('show_details', {car: car.id}) }}">
                                    <img src="{{ asset(car.thumbnailURL) }}" alt="{{ car.name }}" height="150">
                                </a>
                            {% endif %}
                        </div>
                    </td>
                    <td class="align-middle">
                        {{ car.getName() }}
                    </td>
                    <td class="align-middle">{{ car.getCategory() | trans }}</td>
                    <td class="align-middle">{{ car.getSeats() }}</td>
                    <td class="align-middle">{{ car.getIncludedKilometres() | trans }}</td>
                    {% if app.request.locale == 'de' %}
                        <td class="align-middle">{{ car.getPricePerDay() | number_format(2, ',', ',') }} €</td>
                    {% else %}
                        <td class="align-middle">{{ car.getPricePerDay() | format_currency('EUR') }} </td>
                    {% endif %}
                    <td class="align-middle"><a href="{{ path('show_details', {car: car.id}) }}"
                                                class="btn btn-primary btn-sm">
                            {{ 'Btn.show.details'| trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                {{ 'Car.not.found' | trans }}
            {% endif %}
            </tbody>
        </table>
    </div>
    {% if app.request.locale == 'de' %}
        <script>
            $(document).ready(function () {
                $('#carTable').DataTable(
                    {
                        "lengthMenu": [5, 10, 20, 50, 100],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/de-DE.json',
                        },
                        "searching": false,
                        "info": false,
                        order: [[1, 'asc']]
                    }
                );
            });
        </script>
    {% else %}
        <script>
            $(document).ready(function () {
                $('#carTable').DataTable(
                    {
                        "lengthMenu": [5, 10, 20, 50, 100],
                        "searching": false,
                        "info": false,
                    }
                );
            });
        </script>
    {% endif %}
{% endblock %}